.aside {
    width: 33%;
    word-break: break-word;
    float: left;
}

.main {
    width: 66%;
    float: right;
}

.main .row {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    border: 1px solid #dfe2e1;
    border-radius: 20px;
    background: #fff;
    -webkit-transition: 0.2s;
}

.card:hover {
    border: 1px solid #00a00d;
    box-shadow: 0 5px 12px rgba(0, 0, 0, .12);
    -webkit-transition: 0.2s;
}

.main .card .percentage {
    position: absolute;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    background: #00a00d;
    color: #fff;
    font-family: "Comic Sans MS";
    padding: 3px 10px;
    border-radius: 20px;
    margin: 10px 0 0 10px;
    z-index: 9999;
}

.main .row .col .prod-img {
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.main .row .col .card .prod-img .icons {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all .3s ease 0s;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
}

.main .row .col .prod-img i {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, .5);
    color: black;
    display: inline-flex;
    font-size: 14px;
    height: 34px;
    justify-content: center;
    line-height: 34px;
    text-align: center;
    transition: all .3s ease 0s;
    vertical-align: middle;
    width: 34px;
}

.main .row .col .prod-img i:hover {
    background-color: #00a00d;
    color: #fff;
}

.main .row .col .card:hover .prod-img .icons {
    visibility: visible;
    opacity: 1;
}

.main .row .col .prod-img img {
    max-width: 100%;
    max-height: 100%;
    border-bottom: 1px solid #ededed;
    transition: all .3s ease-in-out;
}
.main .row .col .prod-img img:hover{
    transform: scale(1.1);
}

.main .row .col .prod-det {
    padding: 20px;
}

.main .row .col .categ {
    font-size: 14px;
    font-weight: 400;
    font-family: "Comic Sans MS";
    color: gray;
    margin-bottom: -15px;
    margin-top: -28px;
}

.main .row .col .sold-by {
    font-size: 14px;
    font-weight: 400;
    font-family: "Comic Sans MS";
    color: gray;
    margin-top: -15px;
}

.main .row .col .sold-by a {
    font-weight: 900;
    color: #00a00d;
    text-decoration: none;
}

.main .row .col .prod-det .title a {
    font-weight: 900;
    font-family: Oswald;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.main .row .col .prod-det .title a:hover {
    color: #00a00d;
}

.main .row .col .prod-det-bot {
    overflow: hidden;
}

.main .row .col .prod-det-bot div {
    float: left;
    width: 50%;
}

.main .row .col .price {
    font-size: 18px;
    color: #00a00d;
    font-weight: 600;
    font-family: "Comic Sans MS";
}

.main .row .col .price small {
    color: #000;
}

.main .row .col .price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.main .row .col .prod-add {
    text-align: right;
}

.main .row .col .prod-add .add-cart {
    background-color: #00a00d;
    color: white;
    padding: 7px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Comic Sans MS";
    border-radius: 7px;
    width: max-content;
    display: inline-block;
}
.aside .categ{
    border-radius: 20px;
    /* box-shadow: 0 5px 12px rgba(0, 0, 0, .12); */
    padding: 15px;
    display: grid;
    row-gap: 20px;
}
.aside .categ .cat{
    padding: 0;
    margin: 0;
    font-family: 'Oswald';
    border-bottom: 1px solid #000;
}
.aside .categ .siderow .side-det{
    font-family: "Comic Sans MS";
    color: #000;
    font-size: 17px;
}
.aside .categ .siderow .side-det .categinp:checked, .aside .categ .siderow .side-det .categinp:checked:focus-visible{
    accent-color: #00a00d !important;
    outline: none
}
@media screen and (max-width: 992px) {
    .main .row {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .aside {
        width: 100%;
    }

    .main {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .main .row {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }
}