center.pagination{
    margin-top: 20px;
}
.pagebtn{
    height: 30px;
    width: 30px;
    color: white;
    background-color: #00a00d;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    border-radius: 50%;
    font-family: "Comic Sans MS";
    font-weight: 900;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding: 5px;
}
.pagebtn.disabled{
    background-color: rgba(0,160,13,0.5);
}
.pagenum{
    color: #000;
    font-size: 25px;
    font-weight: 900;
    font-family: "Comic Sans MS";
    padding: 5px;
    background-color: #ededed;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}