{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'regform.css' %}">
<h1 class="cracc">Login to your Account</h1>
{% if forms.errors %}
<div class="errormsg">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{forms.errors}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}
<div class="regform">
    <div>
        <form action="" method="POST">
            {% csrf_token %}

            <div class="inp">
                {{forms.email}}
            </div>
            <div class="inp">
                {{forms.password}}
            </div>
            <p class="alacc">Don't have an account? <a href="{% url 'userauths:signup' %}">Signup here</a></p>
            <button class="regbtn">LOGIN</button>
        </form>
    </div>
</div>
{% endblock %}