{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/regform.css' %}">
<h1 class="cracc">Create An Account</h1>
<div class="regform">
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="inp first">
                {{form.username}}
            </div>

            <div class="inp">
                {{form.email}}
            </div>
            <div class="inp">
                {{form.password1}}
            </div>
            <div class="inp">
                {{form.password2}}
            </div>
            <p class="alacc">Already have an account? <a href="{% url 'userauths:login' %}">Login here</a></p>
            <button class="regbtn">SIGNUP</button>
        </form>
    </div>
</div>
{% endblock %}