{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'regform.css' %}">
<h1 class="cracc">Create An Account</h1>
<!-- {% if form.errors %}
<div class="errormsg">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{form.errors}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %} -->
<div class="regform">
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="inp first">
                {{form.username}}
            </div>

            <div class="inp">
                {{form.email}}
            </div>
            <div class="inp">
                {{form.password1}}
            </div>
            <div class="inp">
                {{form.password2}}
            </div>
            <p class="alacc">Already have an account? <a href="{% url 'userauths:login' %}">Login here</a></p>
            <button class="regbtn">SIGNUP</button>
        </form>
    </div>
</div>
{% endblock %}